@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$btn-bgd: rgb(226, 226, 226);
$btn-txt: rgb(24, 24, 24);
$dark-bgd: #555;

* {
  font-family: 'Lato', sans-serif;
}

// This is basically a "function" to center divs. Helps the code be more DRY
@mixin flexCenter() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  // Similar to "invoking" flexCenter "function"
  @include flexCenter();
  min-height: 98vh;
}

#outer-container {
  height: 100%;
}

#inner-container {
  height: 100%;
}

#home-container {
  // Similar to "invoking" flexCenter "function"
  @include flexCenter();
  height: 100%;
}

// HOMEPAGE STYLING

.header {
  color: #222;
  font-size: 30px;
}

.header:hover {
  transition: 1s;
  color: linear-gradient(
    to bottom,
    #f73e31 22%,
    #ffffff 51%,
    #2989d8 100%,
    #7db9e8 100%,
    #2989d8 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#title {
  transition: 0.5s;
}

.whos {
  transition: 0.5s;
  &:hover {
    color: red;
  }
}

.onThe {
  transition: 0.5s;
  &:hover {
    color: rgb(221, 216, 216);
  }
}

.ballot {
  transition: 0.5s;
  &:hover {
    color: blue;
  }
}
#addressInput {
  transition: 500ms;

  border-radius: 30px;
  height: 35px;
  width: 250px;
  border: 1px solid $dark-bgd;
  text-align: center;
  padding-top: 3px;

  font-size: 18px;

  &::placeholder {
    // margin-top: 0px;
    // @include flexCenter();
    // position: relative;
    // bottom: 0;
    text-align: center;
    font-size: 18px;
  }

  &:hover {
    box-shadow: 2px 2px 1px 1px $dark-bgd;
  }

  &:focus {
    outline: none;
  }
}

#search-btn {
  transition: 500ms;
  margin-top: 20px;

  height: 35px;
  width: 80px;

  font-size: 19px;

  border-radius: 8px;
  border: none;

  background-color: $btn-bgd;
  color: $btn-txt;

  box-shadow: 1px 1px 1px $btn-txt;

  &:hover {
    box-shadow: 3px 3px 3px $btn-txt;
  }

  &:focus {
    outline: none;
  }
}

// CARDS DISPLAY STYLING
#card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: 1;
}

.card {
  transition: 500ms;
  position: relative;
  border: 1px solid $dark-bgd;
  border-radius: 5px 0px 5px 5px;

  padding-left: 7px;
  margin-bottom: 15px;

  height: 200px;
  width: 250px;
  box-shadow: 3px 2px 1px 1px darkgrey;

  &:hover {
    box-shadow: 6px 4px 1px 1px darkgrey;
  }
}

// # card-container {
//   display: grid;
//   grid: repeat(2, 60px) / auto-flow 80px;
// }

// # card-container >
// }
//   position: relative;
//   border: 1px solid $dark-bgd;
//   border-radius: 5px 0px 5px 5px;

//   padding-left: 7px;
//   margin-bottom: 15px;

//   height: 100px;
//   width: 200px;
// }

.officerName {
  font-weight: bold;
  // color: blue;
}

.officerPhoto {
  position: absolute;
  top: 0px;
  right: 0px;

  height: 75px;
  width: 60px;
}

.officerTitle {
  // position: absolute;
  // bottom: 30px;
  font-size: 9px;
}

.officerParty {
  // position: absolute;
  // bottom: 0px;
  // font-weight: normal;
  font-size: 9px;
}

.login {
  color: white;
  width: 500px;
  padding: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  text-align: center;
  border-radius: 20px;
  box-shadow: 5px 10px 20px #888888;
}

.login h1 {
  color: $btn-txt;
}

#login-btn {
  font-size: 15px;
  color: grey;
  border: 0;
  display: block;
  margin: 24px auto;
  text-align: center;
  border: 1.5px solid black;
  padding: 10px;
  width: 175px;
  outline: none;
  border-radius: 28px;
  transition: 0.35s;
  &:hover {
    box-shadow: 3px 3px 3px $btn-txt;
    color: rgb(15, 20, 30);
  }

  &:focus {
    outline: none;
  }
}

// #login-btn {
//   background-color: #3e8e41;
//   box-shadow: 0 5px #666;
//   transform: translateY(4px);
// }

#login-btn {
  width: 200px;
  border-color: rgb(9, 62, 91);
}

.articleLinksContainer {
}

.articleLinks {
  color: whitesmoke;
  text-decoration: none;
  &:hover {
    color: lightblue;
    text-decoration: underline;
  }
}

.republican {
  background-color: rgba(216, 69, 52, 0.6);
  color: whitesmoke;
}

.democrat {
  background-color: rgba(49, 100, 211, 0.762);
  color: whitesmoke;
}

.otherParty {
  background-color: lavender;
}

#displayTitle {
  font-size: 50px;
  margin-bottom: 50px;
}

.display {
  // Similar to "invoking" flexCenter "function"
  @include flexCenter();
  //change font size
}
